.Academics-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem 0;
}
.main-head {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--darkblue);
}
.services {
  width: 17rem;
  height: 22rem;
  background-color: var(--gray);
  box-shadow: 1px 1px 10px 1px silver;
  border: 0.5px solid var(--gray);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
}
.services:hover {
  background: linear-gradient(to bottom, #272e3c, #0e1116);
}
.services img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  border: 5px solid var(--white);
}
/* .services img:hover {
  border: 5px solid var(--gray);
} */
.service-one-head {
  width: 80%;
  height: 3.5rem;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--darkblue);
}
.services:hover .service-one-head {
  color: var(--white);
  transition-duration: 2s;
}
.services:hover .service-box-para {
  color: var(--gray);
  transition-duration: 2s;
}
.service-box-para {
  height: 6rem;
  /* border: 1px solid red; */
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.service-para {
  width: 60%;
  text-align: center;
  color: gray;
  text-transform: capitalize;
  color: var(--darkbluesecondary);
}
.service-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.service-box-rowone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .service-para {
    width: 90%;
  }
  .service-box-rowone {
    flex-direction: column;
  }
  .services {
    width: 16rem;
    /* height: 15rem; */
  }
}
