.Topbar-container {
  width: 100%;
  background-color: var(--darkblue);
  color: var(--gray);
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
  gap: 10px;
}
.topbar-icons {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  font-size: 1.4rem;
  gap: 10px;
}
.Topbar-container a {
  color: var(--gray);
}
.topbar-contact {
  display: flex;gap: 15px;
}
.topbar-contact-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish", serif;
  font-size: 1rem;
  gap: 5px;
}
.topbar-contact-details h2 {
  font-size: 1rem;
  font-weight: normal;
}
@media (max-width: 768px) {
  .Topbar-container {
    justify-content: center;
  }
  .topbar-contact {
    display: none;
  }
}
