@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  /* -- numbers-- font-family: "Mulish", serif; */
  /* font-family: "Playfair Display", serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

 
:root {
  --darkblue: #212733;
  --white: #ece9e4;
  --gray: #cdc6bc;
}
button {
  text-transform: capitalize;
  font-family: inherit;
}
a {
  text-decoration: none;
}
 